*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family: monospace;
transition: all 1s ease-in-out;

}

body{
    background: rgb(255, 255, 255);
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
}

form{
    margin-top: 5rem;
position: relative;
}

.search, .btn{
padding: 0.8rem 2rem;
outline: none;
border-radius: 5rem;

}
.search{
    position: absolute;
    right: 2rem;
    top: 0;
    border:  1px solid rgb(22, 51, 53);
    margin-left: 5rem;
    width: 25rem;
    position: relative;
}

.btn{
    position: absolute;
    right: 2rem;
    top: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-color: cadetblue;
    border:  1px solid cadetblue;
    cursor: pointer;
    color: white;


}

h1 a {
    text-decoration: none;
    color: black;

}

.Gallary{
display: grid;
justify-items: center;
align-items: center;
grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
column-gap: 3rem;
row-gap: 3rem;

}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button{
 padding: 1.4rem 4rem;
 margin: 1.5rem;
border:  1px solid rgb(22, 51, 53);
background-color: cadetblue;
border:  1px solid cadetblue;
cursor: pointer;
color: white;
outline: none;
}



.g-c img{

    width: 23rem;
    height: 40rem;
    object-fit: cover;



}

.note{

    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: gray;
}

.Gallary a{

    text-decoration: none;
    color: gray;

}


.lamp{
    height: 2rem;
    width: auto;
    object-fit: cover;
    cursor: pointer;
    margin: 0.8rem 2rem;
}

.flex2{
    display:flex;
    justify-content: flex-end;
}

.style
{
    color: white !important;
    background-color: rgb(3, 10, 24);
}


.style1
{
    color: white !important;
    
}
 body{
    transition: all 1s ease-in-out;

 }

 .style2
 {
    background-color: rgb(3, 89, 129);
    border:  1px solid rgb(3, 89, 129);
    color: rgb(255, 255, 255);

 }